@model App.Data.Entity.AdvertImage

@{
    ViewData["Title"] = "Yeni Resim Ekle";
}

<h1>Yeni Resim Ekle</h1>

<h4>İlan Resimleri</h4>
<hr />
<div class="row">
    <div class="col-md-4" enctype="multipart/form-data">
        <form asp-action="CreateImage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdvertId" class="control-label"></label>
                <select asp-for="AdvertId" class ="form-select" asp-items="ViewBag.AdvertId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" type="file"/>
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ImageList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
