@model App.Data.Entity.AdvertImage

@{
    ViewData["Title"] = "EditImage";
}

<h1>EditImage</h1>

<h4>AdvertImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditImage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AdvertId" class="control-label"></label>
                <select asp-for="AdvertId" class="form-control" asp-items="ViewBag.AdvertId"></select>
                <span asp-validation-for="AdvertId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
