@model IEnumerable<Category>
@{
}


<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>All Categories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
                </div>
                <div class="row">
                    @foreach (var category in Model)
                    {

                        <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6" >
                            <div class="category-block" style="height:350px; overflow-y:auto;">
                                <div class="header">
                                    <i class="fa fa-laptop icon-bg-1"></i>
                                    <h4>@category.Name</h4>
                                </div>
                                @foreach (var advert in category.Adverts)
                                {
                                    <ul class="category-list">
                                        <li><a href="category.html">@advert.Title<span>93</span></a></li>
                                    </ul>
                                }
                            </div>
                        </div>


                    }
                </div>



            </div>
        </div>
    </div>
    <!-- Container End -->
</section>