<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <!-- About -->
                <div class="block about">
                    <!-- footer logo -->
                    <img src="~/images/logo-footer.png" alt="">
                    <!-- description -->
                    <p class="alt-color">
                        Kemankeş Karamustafa Paşa Mah. Alipaşa Değirmeni Sok. No:3 34560 Karaköy / İstanbul
                        academy@siliconmade.com
                        +90 850 272 7454
                    </p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="block">
                    <h4>Bağlantılar</h4>
                    <ul>
                        <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                        <li><a asp-controller="Home" asp-action="ContactUs">İletişim </a></li>
                        <li><a href="#">Deals & Coupons</a></li>
                        <li><a href="#">Articls & Tips</a></li>
                        <li><a href="terms-condition.html">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
                <div class="block">
                    <h4>Admin Sayfaları</h4>
                    <ul>
                        <li><a href="category.html">Kategoriler</a></li>
                        <li><a href="single.html">İlan</a></li>
                        <li><a href="store.html">Mağaza</a></li>
                        <li>
                            <a href="single-blog.html">Ürün</a>
                        </li>
                        <li><a href="blog.html">Blog</a></li>



                    </ul>
                </div>
            </div>
            <!-- Promotion -->
            <div class="col-lg-4 col-md-7">
                <!-- App promotion -->
                <div class="block-2 app-promotion">
                    <div class="mobile d-flex">
                        <a href="">
                            <!-- Icon -->
                            <img src="~/images/footer/phone-icon.png" alt="mobile-icon">
                        </a>
                        <p>Mobil Uygulamasını Alın ve Daha Fazla Tasarruf Edin</p>
                    </div>
                    <div class="download-btn d-flex my-3">
                        <a href="#"><img src="~/images/apps/google-play-store.png" class="img-fluid" alt=""></a>
                        <a href="#" class=" ml-3"><img src="~/images/apps/apple-app-store.png" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <!-- Copyright -->
                <div class="copyright">
                    <p>
                        Copyright © <script>
                                        var CurrentYear = new Date().getFullYear()
                                        document.write(CurrentYear)
                        </script>. Her hakkı saklıdır <a class="text-primary" href="https://themefisher.com" target="_blank"></a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <!-- Social Icons -->
                <ul class="social-media-icons text-right">
                    <li><a class="fa fa-facebook" href="https://www.facebook.com/themefisher" target="_blank"></a></li>
                    <li><a class="fa fa-twitter" href="https://www.twitter.com/themefisher" target="_blank"></a></li>
                    <li><a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher" target="_blank"></a></li>
                    <li><a class="fa fa-vimeo" href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <div class="top-to">
        <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>
