
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <!-- Title text -->
                <h3> Şartlar & Koşullar</h3>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto p-0">
                <div class="terms-condition-content">
                    <h3 class="py-3"> Sitemizin Şartları & Koşulları</h3>
                    <p>Please read the following carefully to understand how we will collect and use your personal data in relation to the Service. </p>
                    <p>We do not accept any responsibility or liability for these policies or for any personal data that may be collected through these websites or services.  </p>
                    <h5 class="py-3">We may collect and process the following data about you via the Service: </h5>
                    <p><span class="font-weight-bold text-dark">• Personal Information you provide to us:</span> We receive and store any information that you enter on the Service or provide to us in any other way, for example, ... </p>
                    <p><span class="font-weight-bold text-dark">• Personal Information that we automatically collect:</span> When you use the Service, we automatically collect information about the device you use to access it and your usage of the Service... </p>
                    <p><span class="font-weight-bold text-dark">• Log information:</span> When you use the Service, we may automatically collect and store the following information in server logs: Internet protocol (IP) addresses, Internet service provider (ISP), clickstream data, browser type and language, viewed and exit pages and date or time stamps. We use this information to communicate with the Service and to better understand our users' operating systems, for system administration and to audit the use of the Service. We do not use this data to identify the name, address or other personal details of any individual. </p>
                </div>
            </div>
        </div>
    </div>
</section>
