@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Şifreyi Sıfırla</h3>
                    <form asp-controller="Auth" asp-action="ForgotPassword">
                        <fieldset class="p-4">
                            <input type="email" placeholder="Email" class="border p-3 w-100 my-2" name="email">
                            <input type="password" placeholder="Yeni Şifre" class="border p-3 w-100 my-2" name="password">
                            <button type="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Devam Et</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>