
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Giriş Yap</h3>
                    <form asp-controller="Auth" asp-action="Login">
                        <fieldset class="p-4">
                            @TempData["HataMesajı"]
                            <input type="text" placeholder="Eposta" class="border p-3 w-100 my-2" name="email">
                            <input type="password" placeholder="Şifre" class="border p-3 w-100 my-2" name="password">
                            <div class="loggedin-forgot">
                                    <input type="checkbox" id="keep-me-logged-in">
                                    <label for="keep-me-logged-in" class="pt-3 pb-2">Beni Hatırla</label>
                            </div>
                            <button type="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Giriş Yap</button>
                            <a class="mt-3 mb-3 d-block  text-primary" href="#">Şifrenizi mi unuttunuz?</a>
                            <p>Hesabınız yok mu? <a class=" d-inline-block text-primary" asp-action="Register">Kayıt Ol</a></p>
                            
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

