@model User

@{
    ViewData["Title"] = "Register";
   
}


<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Hemen Kayıt Ol</h3>
                    <form asp-action="Register">
                        <fieldset class="p-4">
                            <input type="text" placeholder="Ad" class="border p-3 w-100 my-2" asp-for="Name">
                            <input type="email" placeholder="Eposta" class="border p-3 w-100 my-2" asp-for="Email">
                            <input type="text" placeholder="Telefon" class="border p-3 w-100 my-2" asp-for="Phone">
                            <input type="text" placeholder="Adres" class="border p-3 w-100 my-2" asp-for="Address">
                            <input type="password" placeholder="Parola" class="border p-3 w-100 my-2" asp-for="Password">
                            <div class="loggedin-forgot d-inline-flex my-3">
                                <input type="checkbox" id="registering" class="mt-1">
                                <label for="registering" class="px-2">Kayıt olarak, <a class="text-primary font-weight-bold" asp-action="TermsCondition">Şart & Koşullar</a>'ı kabul ediyorsunuz.</label>
                            </div>
                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Kayıt Ol</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

