@model ResetPasswordModel


<h1>ResetPassword</h1>

<hr/>
 @if (ViewBag.State == null)
 {
    <div class-"container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <form method="post" asp-action="ResetPassword">
                                <label>Eposta Adresiniz</Label>
                                <input type="email" asp-for="Email" class="form-control" />
                                <br />
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </form>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
 }

 else
 {
     if (ViewBag.State)
    {
        @: <div class="alert alert-success"> Şifre talebi için e-posta adresinize mail gönderildi  </div>
    }

    else
    {
        @: <div class="alert-success"> Böyle bir e posta bulunmamaktadır. </div>
    }
 }