@model ResetPasswordModel

@{
    ViewData["Title"] = "UpdatePassword";
}

<h1>UpdatePassword</h1>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

<hr />
@if(TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="UpdatePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <div class="form-group">
                        <input asp-for="NewPassword" class="text-control"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Şifreyi Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>