@model IEnumerable<Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" href="/">
						<img src="~/images/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link" href="/">AnaSayfa</a>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Bağlantılar <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" asp-controller="Home" asp-action="AboutUs">Hakkımızda</a>
									<a class="dropdown-item" asp-controller="Home" asp-action="ContactUs">İletişim</a>
									<a class="dropdown-item" href="user-profile.html">Kullanıcı Profili</a>
									<a class="dropdown-item" href="404.html">404 Page</a>
									<a class="dropdown-item" href="package.html">Package</a>
									<a class="dropdown-item"  asp-controller="Advert" asp-action="Detail" asp-route-id="1">İlan Detay</a>
									<a class="dropdown-item" href="store.html">Mağaza Detay</a>
									<a class="dropdown-item" href="single-blog.html">Ürün Detay</a>
									<a class="dropdown-item" href="blog.html">Blog</a>

								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Kategoriler <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									@foreach (var item in Model)
									{
										<a class="dropdown-item" asp-controller="Advert" asp-action="Search" asp-route-categoryID="@item.Id">@item.Name</a>


									}
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							@if (TempData["UserBilgisi"] is not null)
							{
								<li class="nav-item">
									<a class="nav-link login-button" asp-controller="Auth" asp-action="Logout">Çıkış Yap</a>
								</li>
							}
							else
							{
								<li class="nav-item">
									<a class="nav-link login-button" asp-controller="Auth" asp-action="Login">Giriş</a>
								</li>
							}
							<li class="nav-item">
								<a class="nav-link text-white add-button" asp-controller="Advert" asp-action="AddListing"><i class="fa fa-plus-circle"></i> İlan Yayınla</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>